/* styling for About module */

.section{
    padding: 60px 20px;
    background-color: #f3f4f6;
    text-align: center;
}

.aboutSF{
    font-size: 2rem;
    margin-bottom: 20px;
}

.aboutSFdesc{
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.6;
}